img{
    height: 70px;
    width: 70px;
    border: 1px dotted red;
    border-radius: 40px;
    align-self: flex-end;
}
.container{
    margin: auto;
    height: 400px;
    width: 400px;
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px;
}
h1{
    align-self: center;
}

.dark
{
    background-color: black;
    color: white;
}
